/* body {
  margin: 0;
  background-color:bisque;
  
  
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* .list{
  text-align: center;
  padding-block-start: 20px;
  margin: 70px;
  background-color:rgb(235, 180, 135);
  
} */
/* #a1{
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-align:center;
} */
/* #a2{
  height: 35px;
  width: 65px;
} */