div{
    
    u {

    background: lightblue;
    }

h1{
    color: lightcoral;
    text-align: center;
}

}

#a2{
    color:rgb(13, 0, 128);
    background-color: rgb(105, 255, 198);
    
}
#a3{
    text-align: left;
}
 #a4{
     color: red;
     
 }
  #a5{
      color:green
  }

  .list{
    text-align: center;
    padding-block-start: 20px;
    margin: 70px;
    background-color:rgb(235, 180, 135);
    
  }
  body {
    margin: 0;
    background-color:bisque;
    
    
  }